<?xml version="1.0" encoding="UTF-8"?>
<launch xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">

    <include file="$(find iiwa_needle_moveit)/launch/demo.launch"/>
    <rosparam file="$(find iiwa_needle_description)/param/world.yaml" command="load" ns="spec"/>
</launch>