<?xml version="1.0" encoding="UTF-8"?>
<launch xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd">

    <param name="robot_description"
           command="xacro hardware_interface:=PositionJointInterface robot_name:=iiwa '$(find iiwa_needle_description)/urdf/iiwa7_needle.urdf.xacro'"/>
    <!--<param name="$(arg robot_description)_semantic" textfile="$(find iiwa_needle_moveit)/config/iiwa7_tool.srdf"/>-->

    <rosparam file="$(find iiwa_needle_description)/param/world.yaml" command="load" ns="spec"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0"
          args="0 0 0 0 0 0 world iiwa_link_0"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"
          output="screen"/>


    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find iiwa_run)/rviz/just_viz.rviz"
          output="screen">
    </node>
</launch>