<?xml version="1.0" ?>
<model>
    <name>RCM Abdomen Model</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Suraj R</name>
        <email>suraj.rathi00@gmail.com</email>
    </author>
    <description>A simple model of a bloated abdomen for laparoscopic keyhole surgery procedures.</description>
</model>